<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbook">
    <!-- All required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".acitivity.SachBanChayActivity"></activity>
        <activity android:name=".acitivity.Thongtinkhachhang" />
        <activity android:name=".acitivity.HomeActivity" />
        <activity android:name=".acitivity.CartActivity" />
        <activity android:name=".acitivity.SachmoiActivity" />
        <activity android:name=".acitivity.DetailsProductActivity" />
        <activity android:name=".acitivity.RegisterActivity" />
        <activity android:name=".acitivity.SplashActivity" />
        <activity android:name=".acitivity.LoginActivity" />
        <activity android:name=".acitivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>